<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                                 http://www.springframework.org/schema/beans/spring-beans.xsd
		                             http://www.springframework.org/schema/context
		                              http://www.springframework.org/schema/context/spring-context-4.3.xsd
		                              http://www.springframework.org/schema/aop 
		                              http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

    <context:component-scan 
                base-package="com.springbook.biz"></context:component-scan>
   
  <!--  <bean id="logAdvice" class="com.springbook.biz.commom.Log4jAdvice"></bean> -->
   
   <!-- aop:before-메소드 실행전 advice실행  -->
 <aop:config>
       <aop:pointcut expression="execution(* com.springbook.biz..*Impl.*(..))"
                           id="allPointcut"/>
        <aop:aspect  ref="logAdvice">
        	<!-- <aop:before method="printLogging" pointcut-ref="allPointcut"/> -->
        	<aop:before method="beforeLog" pointcut-ref="allPointcut"/>
        </aop:aspect>
   </aop:config> 
   
   <aop:config>
      <aop:pointcut expression="execution(* com.springbook.biz..*Impl.get*(..))" 
      						id="getPointcut"/>
      <aop:aspect ref="log">
        <aop:before method="printLog" pointcut-ref="getPointcut"/>
      </aop:aspect>
   </aop:config>    
       
      <aop:config>
       <aop:pointcut expression="execution(* com.springbook.biz..*Impl.*(..))"
                           id="allPointcut"/>
        <aop:aspect  ref="after">
        	<!-- <aop:before method="printLogging" pointcut-ref="allPointcut"/> -->
        	<aop:after-returning method="afterLog" pointcut-ref="allPointcut"/>
        </aop:aspect>
   </aop:config> 
   
     <aop:config>
       <aop:pointcut expression="execution(* com.springbook.biz..*Impl.*(..))"
                           id="allPointcut"/>
        <aop:aspect  ref="AfterFinal">
        	<!-- <aop:before method="printLogging" pointcut-ref="allPointcut"/> -->
        	<aop:after method="finallyLog" pointcut-ref="allPointcut"/>
        </aop:aspect>
   </aop:config> 
   
   <aop:config>
      <aop:pointcut expression="execution(* com.springbook.biz..*Impl.delete*(..))" 
            id="AfterExcept"/>
   	 <aop:aspect ref="afterThrowing">
   	     <aop:after-throwing method="afterException" pointcut-ref="AfterExcept"/>
   	 </aop:aspect>
   </aop:config>
   
   <aop:config>
      <aop:pointcut expression="execution(* com.springbook.biz..*Impl.*(..))" 
            id="allPointcut"/>
   	 <aop:aspect ref="around">
   	     <aop:around method="aroundLog" pointcut-ref="allPointcut"/>
   	 </aop:aspect>
   </aop:config>
   
   
</beans>
